// out: css/slyder-list.css, sourcemap: false, compress: false

/*обычный слайдер*/
.catalogScrollBlock {
  position: relative;
}
.scrollNavBlock {
    position: absolute;
    width: 100%;
    font-size: 28px;
    color:#ff6c00;
    z-index: 2;
    bottom:-60px;
    text-align: center;
    .step {
          position: absolute;
          text-decoration: none;
          display: inline-block;
          width: 50px;
          height: 35px;
          box-sizing: border-box;
          border-radius: 100%;
          font-size: 22px;
          vertical-align: top;
          color:#c6c6c6;
          bottom:0;
          &::hover {
            color:#ff6c00;
          }
        &.step-next {
          margin-left: 5px;
          text-align: center;
          right: 15px;
          &::after {
            font-family: "icomoon";
            content:"\e901";
            display: inline;
            vertical-align: middle;
            line-height: 50px;
          }
        }
        &.step-prev {
          margin-right: 5px;
          text-align: center;
          left:15px;
          &::after {
            font-family: "icomoon";
            content:"\e902";
            display: inline;
            vertical-align: middle;
            line-height: 50px;
          }
        }
        &.step-inactive {
          color:#e4e4e4;
          &:hover {
            color:#e4e4e4;
          }
        }
        &:hover {
          color:#ff6c00;
        }
    }
}
.navBlock.navBlock-slides {
  font-size: 16px;
  width: 100%;
  paddign:0 50px;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  bottom:-40px;
  left:0;
  .slide {
    border-radius: 100%;
    font-size: 0;
    width:8px;
    height: 8px;
    display: inline-block;
    background:#c6c6c6;
    &.slide-active, &:hover{
      background:#ff6c00;
    }
  }
}
.slider-list {
  position: relative;
  white-space: nowrap;
  transition: left ease 1s;
  .item {
    white-space: normal;
  }
}

.scrollWrapper {
  overflow: hidden;
}
