// out: css/styles.css, sourcemap: false, compress: false

@import "font/font.css";
@import "normalaze.css";
fieldset {
  border:0;
  margin: 0;
  padding: 0;
  min-width: inherit;
}
/*ПРИМЕСИ*/
.display-inline-top {
  display: inline-block;
  vertical-align: top;
}
/*
	font-family: 'PT Sans';
  font-weight: normal bold

	font-family: 'NeoSansPro';
  font-weight: bold
*/

.placeholder( @color) {
  &::-webkit-input-placeholder {
    color: @color;
    opacity:1
  }
  &:-moz-placeholder {
    color: @color;
    opacity:1
  }
  &::-moz-placeholder {
    color: @color;
    opacity:1
  }
  &:-ms-input-placeholder {
    color: @color;
    opacity:1
  }
}

.maxW-center {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

a {
  transition: color 0.5s ease;
}
button {
  cursor: pointer;
}
html {
  margin: 0 !important;
  min-width: 320px;
  overflow: inherit !important;
  @media (min-width: 1200px) {
    background: #4c4a4f;
  }
}

body {
  font-family: 'PT Sans';
  color:#333333;
  font-size: 18px;
  min-width: 320px;
  background: #eaeef1;
  max-width: 1600px;
  margin: 0 auto;
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

main {
  overflow: hidden;
  &>.wrapper {
    padding-left: 270px;
    @media( max-width: 1200px) {
      padding: 0 15px;
    }
  }
}

h1,.h1,h2,.h2,h3,.h3,h4,.h5,h5,.h5 {
  font-family: "NeoSansPro";
  color:#333333;
}
h1,.h1 {
  font-size: 50px;
  line-height: 68px;
  font-weight: bold;
}
h2,.h2 {
  font-size: 44px;
  line-height: 60px;
  font-weight: bold;
}
h3,.h3 {
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
}
@media (max-width:900px) {
  h1,.h1 {
    font-size: 40px;
    line-height: 45px;
  }
  h2,.h2 {
    font-size: 35px;
    line-height: 42px;
  }
  h3,.h3 {
    font-size: 20px;
    line-height: 23px;
  }
}

@media (max-width: 600px) {
  h2, .h2 {
      font-size: 28px;
      line-height: 35px;
  }
}
a {
  text-decoration: none;
  color:inherit;
}
a:hover {
  color:#ff6c00;
  cursor: pointer;
}

/*Главная*/

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 15px;
  display: block;
  .title-box {
    margin: 50px 0;
    padding: 0;
  }
}

//telephone icons + a
.tell-box {
  position: relative;
  color:#ffffff;
  padding-left: 30px;
  &::before {
    content: "\e903";
    font-family: "icomoon";
    left: 0;
    top: 0;
    position: absolute;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
  }
  .tell-wrap {
    font-family: "NeoSansPro";
    font-size: 26px;
    line-height: 1;
    @media (max-width: 820px ) {
      font-size: 20px;
    }
    .tell {
      color:#ffffff;
      &:hover {
        color:#ff6c00;
      }
    }
  }
  .back-call {
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px dashed;
    color:#ffffff;
    &:hover {
      border: 0;
      color:#ff6c00;
    }
  }
}

.button-orange {
    color:#ffffff;
    background: #ff8200;
    border-radius: 10px;
    border:0;
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    -webkit-box-shadow: 0 3px 10px rgba(89,46,1,.35);
  	-moz-box-shadow: 0 3px 10px rgba(89,46,1,.35);
  	box-shadow: 0 3px 10px rgba(89,46,1,.35);
    &:hover {
      background:#e26000;
      color:#ffffff;
    }
}
header {
    margin-bottom: 20px;
}
.header-logo {
  position: relative;
  z-index: 3;
  background-color:#ffffff;
  height: 80px;
  font-size: 0;
  @media (max-width: 720px) {
    height: 50px;
  }
   .wrapper {
    display: block;
    height: 100%;
   }
   .right,.left  {
      font-family: "NeoSansPro";
      color: #ff8200;
      font-size: 25px;
      text-transform: uppercase;
      display: inline-block;
      line-height: 80px;
      font-weight: bold;
      vertical-align: top;
      width: 40%;
      padding: 0 20px;
      box-sizing: border-box;
      background-color: white;
      @media (max-width: 720px) {
        font-size: 18px;
        line-height: 50px;
      }
      @media (max-width: 620px) {
        padding:0 2px;
      }
   }
   .right {
     text-align: left;
   }
   .left {
     text-align: right;
   }
   .logo {
      max-width: 140px;
      max-height: 140px;
      display: inline-block;
      vertical-align: top;
      width: 20%;
      margin-top: 12px;
      @media (max-width: 620px) {
        float:right;
      }
     img {
       width: 100%;
       height: 100%;
     }
   }
}
.header-contact {
  font-size: 0;
  position: relative;
  z-index: 2;
  .tell-box,.enter {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin-top: 30px;
  }
  .tell-box .back-call-wrap {
    margin-top: 10px;
  }
  .enter {
    text-align: right;
    a {
      width: 115px;
      height: 52px;
      line-height: 52px;
      font-size: 18px;
      box-sizing: border-box;
    }
  }
}

.advantages  {
  h2,.h2 {
    margin-top: 0;
  }
}
.advantages,.form-application,.plus-fransize,.review,.gallery,.question { /*Унифицировать все вот так!!!*/
  .wrapper {
  max-width: 900px;
  margin-left: 0;
  margin-right: auto;
  }
}
@media(max-width: 1200px) {
  .plus-fransize,.review,.gallery,.question,.advantages {
    &>.wrapper {
      margin-left: auto;
    }
  }
}



.advantages-list {
  font-size: 0;
  margin-left: -50px;
  margin-top: -60px;
  .item {
    position: relative;
    padding: 100px 50px 0;
    min-height: 270px;
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
    box-sizing: border-box;
    max-width: 310px;
    width: 33.3333%;
    &::before{
      content: "";
      position: absolute;
      left: -50px;
      top: -20px;
      display: block;
      background-size: inherit;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      bottom: -50px;
      right: -50px;
      z-index: 0;
    }
    &:nth-child(1)::before {
      background-image: url(../img/cat.png);
      background-position: 77.5% 50%;
    }
    &:nth-child(2)::before {
      background-image: url(../img/bizon.png);
    }
    &:nth-child(3)::before {
      background-image: url(../img/slon.png);
      background-position: 72% 50%;
    }
    & .wrapper::after {
      transform: scale(0.2);
    }
    .wrapper {
      position: relative;
      padding: 0;
      &::after {
        content: "";
        position: absolute;
        display: block;
        background-size: contain;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin: 0 auto;
        background-color: transparent;
        border-radius: 50%;
        transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 2s;
        transform: scale(1);
        left: 0;
        top: 0;
        z-index: 1;
        right: 0;
        padding: 0 0 100%;
      }
    }
    .term {
      position: relative;
      z-index: 2;
      margin-bottom: 15px;
      padding: 50px 0 0;
      .number {
      font-size: 60px;
      font-family: "NeoSansPro";
      display: block;
      text-align: center;
      }
      .title {
        font-family: "NeoSansPro";
        font-size: 20px;
        display: block;
        text-align: center;
      }
    }
    .description {
      font-size: 18px;
      line-height: 22px;
      position: relative;
      z-index: 2;
      text-align: center;
    }
  }
}
.isInView .advantages-list .item .wrapper::after {
  background-color: rgba(255,255,255,0.6);
}
.isInView .advantages-list .item:nth-child(1) .wrapper::after {
  transform: scale(0.75);
}
.isInView .advantages-list .item:nth-child(2) .wrapper::after {
  transform: scale(1);
}
.isInView .advantages-list .item:nth-child(3) .wrapper::after {
  transform: scale(1.35);
}




.slyde {
  position: relative;
  height: 600px;
  overflow: hidden;
  margin-top: -88px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(44, 17, 0,0.6);
    z-index: 2;
  }
  .content-txt {
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 25%;
    padding: 0 15px;
    .title {
      font-family: "NeoSansPro";
      font-size: 50px;
      line-height: 60px;
      color:#ffffff;
      margin-bottom: 25px;
    }
    .comment {
      font-size: 26px;
      line-height: 40px;
      color:#ffffff;
      max-width: 780px;
      margin: 0 auto;
    }
    @media (max-width: 700px) {

    }
  }
  .image-over {
    .image-wrap {
      position: absolute;
      top:0%;
      bottom:0%;
      left: -25%;
      right:-25%;
      font-size: 0;
      img {
        display: block;
        vertical-align: middle;
        height: 100%;
        margin: 0 auto;
      }
    }
  }
}


.specifications-block-wrap {
  margin: 80px 0;
  position: relative;
  z-index: 2;
  &::after {
    content: "";
    background-color: #ff8200;
    position: absolute;
    width: 100%;
    height: 100%;
    right:-100%;
    top:0;
    padding: 0 2px;
    box-sizing: content-box;
  }
  .specifications-block {
    overflow: hidden;
    min-height: 540px;
    margin-left: auto;
    background-color: #ff8200;
    border-bottom-left-radius: 10px;
    .wrap {
    max-width: 900px;
    margin-right: auto;
    font-size: 0;
      .img-wrap {
        display: inline-block;
        vertical-align: top;
        width: 55%;
        position: relative;
        overflow: hidden;
        height: 540px;
        .img-overflow {
          position: absolute;
          left:-10%;
          right: -10%;
          top:0;
          bottom:0;
          font-size: 0;
            img {
              display: block;
              vertical-align: middle;
              height: 100%;
              margin: 0 auto;
            }
        }
      }
      .text-wrap {
        width: 45%;
        padding-left: 45px;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        h2 {
          color:#ffffff;
        }
        font-size: 20px;
        ol {
          counter-reset: listslide;
          list-style: none;
          padding: 0;
          li {
            position: relative;
            padding-left: 50px;
            padding-top: 30px;
            counter-increment: listslide;
            font-weight: bold;
            transition: left ease 2s;
            &::before {
              color:#c46203;
              font-weight: bold;
              position: absolute;
              left:0;
              top:0;
              font-size: 70px;
              display: inline-block;
              content: counter(listslide);
            }
          }
        }
      }
    }
    //specifications-block-photo.jpg
  }
}
.form-application {
  z-index: 2;
  position: relative;
  margin-right: auto;
  max-width: 640px;
  background: #bdcc36;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  &::before {
    content: "";
    transition: left ease 1.5s;
    top: -20px;
    left: 200%;
    background: url(../img/jiraf.png) no-repeat;
    position: absolute;
    width: 409px;
    height: 518px;
  }
  .submitBlock {
    position: absolute;
    width: 100%;
  }
  .wrapper {
    max-width: 515px;
    .content {
      margin-left: 35px;
      padding-bottom: 45px;
      box-sizing: content-box;
      position: relative;
    }
    h2,.h2 {
      margin-bottom: 70px;
      max-width: 390px;
      margin-right: auto;
      padding-top: 40px;
    }
    p {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
    }
    button {
      width: 320px;
      text-align: center;
      line-height: 70px;
      font-size: 20px;
      display: block;
      margin: 0 auto;
      font-weight: bold;
    }
  }
}
.isInView.form-application::before {
  left: 69%;
}

.fieldList {
  margin-top: 25px;
  padding: 0;
  margin-bottom: 0;
  .field {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    .wrapper {
      padding: 0;
    }
    .title {
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 5px;
      display: block;
    }
    input {
      width: 100%;
      box-sizing: border-box;
      padding-left: 15px;
      height: 48px;
      border: 0;
    }
    textarea {
      max-width: 100%;
      min-height: 70px;
      border: 0;
      padding: 10px 20px;
      width: 100%;
      box-sizing: border-box;
    }
  }
  .field-group {
    padding: 0;
    font-size: 0;
    .field {
      display: inline-block;
      vertical-align: top;
      font-size: 18px;
      width: 55%;
      box-sizing: border-box;
      padding-right:10px;
      &:last-child {
        width: 45%;
        padding: 0 0 0 10px;
      }
      @media (max-width: 560px) {
        &, &:last-child {
        width: 100%;
        padding: 0;
        }
      }
    }
  }
}


.plus-fransize {
  position: relative;
  background-color: #ffffff;
  padding-top: 130px;
  margin-top: -100px;
  z-index: 1;
  h2,.h2 {
    margin-top: 80px;
  }
  .plus-list {
    margin-left: -15px;
    margin-top: 50px;
    padding: 0 0 50px 0;
    font-size: 0;
    .item {
      width: 33.3333%;
      height: 340px;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 30px;
      padding-left: 30px;
      text-align: center;
      .wrap {
      height: 100%;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 15px 25px;
      background-color: #c9d6e0;
        .content {
          .img-wrap {
            width: 120px;
            margin: 0 auto;
            position: relative;
            height: 120px;
            margin-bottom: 20px;
            .img-overflow {
              height: 100%;
              img {
                position: relative;
                z-index: 2;
                width: 100%;
              }
            }
          }
          .description {
            position: relative;
            padding-top:60px;
            .title {
              margin-bottom: -40px;
              font-size: 20px;
              line-height: 24px;
              font-family: "NeoSansPro";
              position: absolute;
              bottom: 100%;
              left: 0;
              z-index: 2;
              width: 100%;
            }
            p {
              margin-top: 0;
              font-size: 18px;
              line-height: 1;
            }
          }
        }
      }

    }
  }
}



.review {
  .wrapper {
    max-width: 900px;
  }
  .content-box {
    width: 100%;
    box-sizing: border-box;
    .review-wrap {
      border-bottom: 1px solid #c6c6c6;
      border-top: 1px solid #c6c6c6;
      padding: 30px 0;
      margin-bottom: 120px;
      .review-list {
        padding: 0;
        list-style: none;
        font-size: 0;
        .item {
          display: inline-block;
          vertical-align: top;
          width: 100%;
          padding: 0;
          .info-user, .comment {
            font-size: 18px;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
          }
          .info-user {
            width: 30%;
            padding-right: 35px;
              .img-wrap {
                margin-bottom: 20px;
                img {
                  max-width: 100%;
                  border-radius: 50%;
                }
              }
              .name {
                margin-top: 20px;
                margin-bottom: 15px;
                font-family: "NeoSansPro";
                font-size: 20px;
                display: block;
              }
              .city {
                display: block;
              }
          }
          .comment {
            width: 70%;
            position: relative;
            padding-top: 30px;
            padding-left: 38px;
            p:first-child {
              margin-top: 0;
            }
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top:0;
              background: url(../img/”.svg) no-repeat;
              width: 30px;
              height: 25px;
            }
          }
        }
      }
    }
  }
}
.question .form-application h2,.question .form-application .h2 {
  max-width: none;
  margin-bottom: 40px;
}
.form-application, .gallery, .plus-fransize, .team {
  &::after {
    background: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left:-100%;
    top:0;
    padding: 0 2px;
    box-sizing: border-box;
  }
}
.gallery::before, .plus-fransize::before,.team::before {
  background: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right:-100%;
  top:0;
  padding: 0 2px;
  box-sizing: content-box;
}
.gallery {
  background: #7b858d;
  position: relative;
  padding-bottom: 80px;
  padding-top: 20px;
  .wrapper {
    max-width: 900px;
  }
  h2,.h2 {
    color:#d8dfe4;
  }
}

.question {
  &>.wrapper {
    max-width: 900px;
  }
  .form-application::before {
    background-image: url(../img/orel.png);
    left: -200%;
    margin-left: -140px;
    transition: all ease 1.5s;
    top:0;
    z-index: 2;
  }
  .isInView.form-application::before {
    left: 100%;
  }
  .form-application h2, .form-application .h2 {
    margin-top: 0;
  }
  .scrollWrapper {
    margin-left: -20px;
  }
  .question-list {
    padding: 0;
    font-size: 0;
    margin-bottom: 130px;
    .item {
      font-size: 18px;
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 100%;
      box-sizing: border-box;
      padding-left: 20px;
      margin-bottom:20px;
      .wrapper {
        position: relative;
        border-radius: 10px;
        padding: 20px 75px 75px 30px;
        box-sizing: border-box;
        background: #ffffff;
        width: 100%;
        .icon.icon-plus {
          position: absolute;
          right: 30px;
          font-size: 19px;
          color:#c6c6c6;
          cursor: pointer;
          &:hover {
            color:#ff8200;
          }
        }
      }
      &:nth-child(5n + 1) {
        margin: 0;
      }
      &:nth-child(5n + 2) {
        margin: 150px 0 0 -100%;
      }
      &:nth-child(5n + 3) {
        margin: 300px 0 0 -100%;
      }
      &:nth-child(5n + 4) {
        margin: 450px 0 0 -100%;
      }
      &:nth-child(5n + 5) {
        margin: 600px 0 0 -100%;
      }
      .autor-info {
        color:#a2a2a2;
        margin-top: 0;
        margin-bottom: 10px;
      }
      .txt {
        height: 55px;
        overflow: hidden;
        position: absolute;
        left: 0;
        padding: 0 75px 0 30px;
        box-sizing: border-box;
        background: #ffffff;
        border-radius: 10px;
        p {
          line-height: 18px;
        }
        p:first-child {
          margin-top: 0;
        }
      }
      &.item-active {
        z-index: 2;
       .txt {
        height: auto;
        }
      }
    }
  }
}

.title-box-button {
    padding: 25px 0;
    .title {
    display: inline-block;
    h2,.h2 {
      margin-top: 0;
      margin-bottom: 25px;
    }
      p {
        font-size: 20px;
        font-weight: bold;
        color:#a2a2a2;
        margin:0;
      }
    }
    .button-orange {
      float: right;
      height: 50px;
      width: 200px;
      line-height: 50px;
      margin-top: 10px;
      display: inline-block;
      box-sizing: border-box;
    }
}




footer {
  background-color:#ff8200;
  font-size: 0;
  padding:20px 0;
  box-sizing: border-box;
  min-height: 120px;
  .wrapper>div {
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    box-sizing: border-box;
  }
  a {
    color:#ffffff;
    &:hover {
      color:#333333 !important;
    }
  }
  .tell-box {

  }
  .email-box {
    margin-top: 5px;
    line-height: 1;
  }
  .copyrait {
    font-size: 15px;
    line-height: 18px;
    padding-left: 15px;
    position: relative;
    span {
      font-size: 15px;
      display: block;
    }
    &::before {
      content:"©";
      font-size: 17px;
      line-height: 15px;
      position: absolute;
      left:0;
      top:0;
    }
  }
  .create {
    color:#ffffff;
    line-height: 1;
    margin-top: 5px;
    span {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    }
  }
}

.email {
  padding-left: 25px;
  position: relative;
  color:#ffffff;
  line-height: 1;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    left:0;
    top:0;
    width: 18px;
    height: 14px;
    background: url(../img/email.png) no-repeat;
  }
  &:hover {
    color:inherit;
  }
}

.team {
  position: relative;
  background-color: #ffffff;
  padding-top: 130px;
  margin-top: -100px;
  padding-bottom: 120px; //кнопки
  z-index: 1;
  .wrapper {
    max-width: 900px;
  }
  hr {
    margin: 0 0 0 35px;
    border:0;
    background-color: #c6c6c6;
    height: 1px;
  }
  h2,.h2 {
    margin-top: 80px;
  }
  .team-list {
    font-size: 0;
    padding: 0;
    padding-bottom: 30px;
    .item {
      text-align: center;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      width: 33.3333%;
      padding-left: 100px;
      margin-bottom: 20px;
      .wrap {
        .img-wrap {
          margin: 0 auto 20px auto;
          max-width: 205px;
          max-height: 205px;
          img {
            width: 100%;
            border-radius: 100%;
          }
        }
        .name {
          font-family: "NeoSansPro";
          font-size: 20px;
        }
        .post {
          font-size: 18px;
        }
      }
    }
  }
}


header .navigationBlock {
    &.open .navigationWrapper .nav-button::before {
      margin-left: 0;
      transform: rotate(-270deg);
    }
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 0;
    margin: 720px 0 0 -600px;
    padding: 0;
    top: 0;
    transition: left ease 1s;
    transform: translateZ(0);
    .navigationWrapper {
        position: relative;
        .nav-button {
          width: 50px;
          height: 50px;
          line-height: 50px;
          border-radius: 50%;
          text-align: center;
          color: #ffffff;
          background: #ff8200;
          border: 0;
          display: none;
          -webkit-box-shadow: 0 3px 10px rgba(89, 46, 1, 0.35);
          -moz-box-shadow: 0 3px 10px rgba(89, 46, 1, 0.35);
          box-shadow: 0 3px 10px rgba(89, 46, 1, 0.35);
          position: absolute;
          right:-45px;
          top:45%;
          cursor: pointer;
          &::before {
            content: "\e90f";
            font-family: 'icomoon';
            transform: rotate(-90deg);
            display: inline-block;
            transition: margin-left ease 1s;
            margin-left: 15px;
          }
        }
    }
    .button-orange {
      height: 50px;
      line-height: 50px;
      font-weight: normal;
      width: 200px;
      box-sizing: border-box;
    }
    .contact-block {
      margin-top: 35px;
      margin: 35px 0 15px;
      a {
        font-size: 20px;
        font-family: "NeoSansPro";
      }
    }
    .menuItemList  {
      padding: 0;
      margin: 0;
      .item {
        display: block;
        padding: 0;
        margin-bottom: 20px;
          a {
            position: relative;
            padding-left: 45px;
            line-height: 25px;
            font-weight: bold;
            transition: color 0.5s ease;
            &::before {
              content: "";
              position: absolute;
              top:10px;
              left:0;
              height: 5px;
              width: 24px;
              border-radius: 1px;
              background: #d7dbde;
            }
            &:hover::before {
              display: inline-block;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background: #ff8200;
              margin-left: 10px;
            }
            .target {
              transition: all 0.5s ease;
              display: none;
            }
          }
          &.item-active {
            a::before {
              content: none;
            }
            a:hover {
              .target {
                background: none;
                box-shadow: none;
              }
            }
            .target {
              display: block;
              width: 25px;
              height: 25px;
              position: absolute;
              top:0;
              left:0;
              border-radius: 50%;
              background-color: #ffffff;
              -webkit-box-shadow: 0 3px 10px rgba(89,46,1,.35);
            	-moz-box-shadow: 0 3px 10px rgba(89,46,1,.35);
            	box-shadow: 0 3px 10px rgba(89,46,1,.35);
              .point {
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: #ff8200;
                margin: 10px;
              }
            }
          }
      }
    }
}

@media (max-width:1247px) {
header .navigationBlock {
  left:15px;
  margin-left: 0;
}
}


.review {
  .scrollNavBlock {
    bottom: -100px;
  }
  .navBlock.navBlock-slides {
    bottom:-110px;
  }
}

.question {
  .scrollNavBlock {
    bottom:60px;
  }
  .navBlock.navBlock-slides {
    bottom:60px;
  }
}
.team {
  .navBlock.navBlock-slides {
    bottom:-60px;
  }
  .scrollNavBlock .step.step-prev{
    margin-left: 35px;
  }
  .scrollWrapper {
    margin-left: -40px;
  }
}
.gallery {
  .navBlock.navBlock-steps, .navBlock.navBlock-slide {
    bottom: -60px;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
  }
}





.isOverscrolled .navigationBlock.navigationBlock-fit {
    position: fixed;
    margin-top: 0;
}

.isNotOverscrolled header .navigationBlock {
    top:0 !important;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


input:focus {
    position: relative;
    z-index: 3;
}

.review, .question, .gallery {
  .content-box {
    padding-left: 35px;
  }
}
.form-application .wrapper .content {
  padding-left: 35px;
}

.team, .team, .advantages, .plus-fransize {
  .h2, h2 {
    padding-left: 35px;
  }
}

//Анимация specifications-block списки
.specifications-block-wrap .specifications-block .wrap .text-wrap ol li:nth-child(1)::before {
  left:-200%;
  transition: left ease 1s;
}
.specifications-block-wrap .specifications-block .wrap .text-wrap ol li:nth-child(2)::before {
  left:-250%;
  transition: left ease 1.5s;
}
.specifications-block-wrap .specifications-block .wrap .text-wrap ol li:nth-child(3)::before {
  left:-300%;
  transition: left ease 2s;
}
.specifications-block-wrap .specifications-block .wrap .text-wrap ol.isInView li::before {
  left:0;
}



//
@media (max-width:1200px) {
  .review, .question, .gallery {
    .content-box {
      padding-left: 0px;
    }
  }
  .form-application .wrapper .content {
    padding-left: 0px;
  }

  .team, .team, .advantages, .plus-fransize {
    .h2, h2 {
      padding-left: 0px;
    }
  }
}

//navigation media

@media (max-width:1200px) {
  header .navigationBlock {
    background: rgba(234, 238, 241, 0.9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0 3px 10px rgba(89, 46, 1, 0.35);
    -moz-box-shadow: 0 3px 10px rgba(89, 46, 1, 0.35);
    box-shadow: 0 3px 10px rgba(89, 46, 1, 0.35);
    left: -240px;
    &.open {
      left:0;
    }
    .navigationWrapper .nav-button {
      display: block;
    }
  }
}
//

//Header media
@media (max-width: 620px) {
  .header-contact .tell-box, .header-contact .enter {
    margin-top: 20px;
    width: auto;
  }
  .header-contact .tell-box {
    margin-right: 10px;
  }
  .header-logo .logo {
    position: absolute;
    right: 10px;
    top: 0;
  }
}
@media (max-width: 500px) {
  .header-contact .enter {
    display: block;
    text-align: left;
  }
}

@media (max-width: 450px) {
	.header-contact .enter a {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    width: 90px;
	}
}

@media (max-width: 440px) {
  .header-logo .left, .header-logo .right {
    display: block;
    width: 100%;
    text-align: left;
    line-height: 35px;
  }
  .header-logo {
    height: 70px;
  }
}
//Header media end


//specifications-block media
@media (max-width: 760px) {
  .specifications-block {
    padding-bottom: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 10px rgba(89, 46, 1, 0.35);
    -moz-box-shadow: 0 3px 10px rgba(89, 46, 1, 0.35);
    box-shadow: 0 3px 10px rgba(89, 46, 1, 0.35);
  }
  .specifications-block-wrap .specifications-block .wrap .img-wrap, .specifications-block-wrap .specifications-block .wrap .text-wrap {
    width: 100%;
  }
  .specifications-block-wrap .specifications-block .wrap .text-wrap {
    padding-left: 20px;
  }
  .specifications-block-wrap .specifications-block .wrap .text-wrap ol li {
    margin-bottom: 20px;
  }
  .specifications-block-wrap::after {
    content: none;
  }
  .specifications-block-wrap .specifications-block .wrap .img-wrap .img-overflow img, .specifications-block-wrap .specifications-block .wrap .img-wrap {
    height: inherit;
    width: 100%;
  }
  .specifications-block-wrap .specifications-block .wrap .img-wrap .img-overflow {
    position: static;
  }
}

//specifications-block media end

.fieldBlock {
  max-width: 570px;
  border-radius: 10px;
  margin: 0 auto;
  background:#bdcc36;
  .modalWrapper {
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
  }
  h2,.h2 {
    margin-top: 0;
    padding-top:0;
  }
  &::before,&::after {
  content: none;
  }
  .content {
    margin: 0 !important;
    padding: 50px !important;
    box-sizing: border-box !important;
    width: 100%;
  }
  .submitBlock {
    left: 0;
    bottom: -35px;
    position: absolute;
    width: 100%;
      button {
        max-width: 320px;
        width: 100%;
        text-align: center;
        line-height: 70px;
        font-size: 20px;
        display: block;
        margin: 0 auto;
        font-weight: bold;
        @media (max-width: 440px) {
          max-width: 300px;
        }
      }
  }
}
//form-application media
@media (max-width: 1200px) {
  .form-application {
    margin-left: auto;
    margin-right: 270px;
  }
}


@media (max-width: 900px) {
  .form-application {
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 10px rgba(89, 46, 1, 0.35);
    -moz-box-shadow: 0 3px 10px rgba(89, 46, 1, 0.35);
    box-shadow: 0 3px 10px rgba(89, 46, 1, 0.35);
    left: 0;
    &::before,&::after {
      content: none;
    }
    .wrapper {
      margin: 0 auto;
      .content {
        padding-left: 0;
        margin: 0;
      }
    }
  }

  .form-application .wrapper h2, .form-application .wrapper .h2 {
    margin-bottom: 25px;
  }
}
@media (max-width: 400px) {

}
//form-application media end


//advantages media
  @media (max-width: 970px) {
    .advantages-list .item {
      display: block;
      margin: 0 auto;
      width: auto;
    }
    .advantages-list {
    margin: 30px 0;
    }
  }
// end


// Слайд
@media (max-width: 900px) {
  .slyde .content-txt .title {
      font-size: 35px;
      line-height: 45px;
  }
}
@media (max-width: 620px) {
  .slyde {
    margin-top:-162px;
  }
  .slyde .content-txt {
    top: 30%;
  }
}
@media (max-width: 550px) {
  .slyde .content-txt .title {
      font-size: 24px;
      line-height: 30px;
  }
  .slyde .content-txt .comment {
    font-size: 18px;
    line-height: 26px;
  }
}
//end



//Team media
@media (max-width: 900px) {
  .team .scrollWrapper {
    margin-left: -25px;
  }
  .team .team-list .item {
    padding-left: 25px;
  }
}
@media (max-width: 680px) {
  .team .team-list .item {
    width: 50%;
  }
}
@media (max-width: 460px) {
  .team .team-list .item {
    width: 100%;
  }
}
//team media end


//gallery media
@media (max-width: 960px) {
  .gallery {
    padding-bottom: 30px;
  }
}
//gallery media end


//plus-fransize  media
@media (max-width: 960px) {
  .plus-fransize .plus-list .item {
    width: 50%;
  }
}
@media (max-width: 660px) {
  .plus-fransize .plus-list .item {
    width: 100%;
    height: auto;
  }
}

//plus-fransize  media end


//question media
@media (max-width: 960px) {
  .question .question-list .item  {
    &:nth-child(3n + 1) {
      margin: 0;
    }
    &:nth-child(3n + 2) {
      margin: 150px 0 0 -100%;
    }
    &:nth-child(3n + 3) {
      margin: 300px 0 0 -100%;
    }
  }
}
@media (max-width: 960px) {
  .question .question-list .item .txt, .question .question-list .item .wrapper {
    padding-right: 30px;
  }
}

@media (max-width: 660px) {
  .question .question-list .item  {
    &:nth-child(2n + 1) {
      margin: 0;
    }
    &:nth-child(2n + 2) {
      margin: 150px 0 0 -100%;
    }
  }
}
@media (max-width: 660px) {
  .question .question-list .item .wrapper .icon.icon-plus {
    right: 10px;
    top: 10px;
  }
}
//question media end


//review media
@media (max-width:900px) {
  .review .content-box .review-wrap .review-list .item .info-user, .review .content-box .review-wrap .review-list .item .comment {
    width: 100%;
    text-align: center;
  }
  .review .content-box .review-wrap .review-list .item .comment {
    padding-left: 0;
  }
}
@media (max-width:630px) {
  .review .title-box-button .button-orange {
    float:none;
    display: block;
  }
}
//review media end


.form-application .wrapper button {
  width: inherit;
}

//footer media
@media (min-width:1165px) {
  footer .create {
    text-align: right;
  }
  footer .email-box {
    padding-left: 50px;
  }
}

@media (max-width:1165px) {
  footer .wrapper > div {
    width: 50%;
  }
}

@media (max-width:560px) {
  footer .wrapper > div {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .wrapper > div:last-child {
    margin-bottom: 0;
  }
}

//footer media end


@media (max-width:900px) {
  .review, .question, .gallery, .advantages, .team {
    &>.wrapper {
        padding: 0;
    }
  }
}



.modalBlock {
  max-width: 570px;
  border-radius: 10px;
  margin: 0 auto;
  background:#bdcc36;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    @media (max-width: 450px) {
      padding: 20px 20px 50px 20px;
    }
  h2,.h2 {
    margin-top: 0;
    padding-top:0;
    margin-bottom: 20px;
  }
  p {
    margin: 20px 0;
    font-weight: bold;
    font-size: 20px;
  }
  &::before,&::after {
  content: none;
  }
  .submitBlock {
    left: 0;
    bottom: -35px;
    position: absolute;
    width: 100%;
      button {
        max-width: 320px;
        width: 100%;
        text-align: center;
        line-height: 70px;
        font-size: 20px;
        display: block;
        margin: 0 auto;
        font-weight: bold;
        @media (max-width: 440px) {
          max-width: 300px;
        }
      }
  }
}








.contactsMapBlock {
  min-height: 660px;
  .contactsMapWrapper {
    max-width: 980px;
    box-sizing: border-box;
    width: 100%;
    margin-left: auto;
    position: relative;
    @media (max-width:1200px) {
      max-width: none;
    }
    .contactsBlock {
      .titleBLock {
        margin: 25px 0;
        font-size: 26px;
        line-height: 36px;
        font-family: "NeoSansPro";
        padding-top:0;
        margin-bottom: 20px;
      }
      .tabs {
        padding-left: 30px;
        max-width: 410px;
        box-sizing: border-box;
        height: 100%;
        position: absolute;
        left: 0;
        @media (max-width: 1115px) {
          padding-left: 10px;
        }
        @media (max-width: 770px) {
          position: static;
          width: 100%;
          max-width: none;
        }
        z-index: 2;
        .tab-selection {
          .tabs-selection-list {
            margin: 25px 0 25px -20px;
            padding-left: 0;
            font-size: 0;
            li {
              display: block;
              padding-left:20px;
              box-sizing: border-box;
              display: inline-block;
              vertical-align: top;
              .wrap {
                padding: 7px 20px;
                font-size: 18px;
                line-height: 22px;
                border-radius: 10px;
                cursor: pointer;
              }
              &.active .wrap {
                background-color: #7b858d;
                color:#ffffff;
              }
            }
          }
        }
        .tabs-content {
          .tab {
            display: none;
            &.active {
              display: block;
            }
            .contact-list {
              padding: 0;
              margin: 0;
              /*max-height: 460px;
              overflow-y: auto;*/
              .item {
                border-top: 1px solid #c6c6c6;
                padding: 25px 0;
                display: block;
                a {
                  font-size: 20px;
                  font-family: "NeoSansPro";
                  display: block;
                  margin-bottom: 10px;
                }
                span {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
    .mapBlock {
      height: 660px;
      margin-left: 410px;
      background: #eee;
      transition: all 0.5s ease;
      position: relative;
      @media (max-width: 770px) {
        height: 500px;
        margin-left: 0;
        width: 100%
      }
    }
  }
}


//Поле файл для формы
.fileform {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    cursor: pointer;
    height: 40px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}

.fileform .selectbutton {
    background-color: #ff8200;
    border: 1px solid #ff8200;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.fileform #upload{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 30px;
    z-index:20;
}

.fileform #fileformlabel {
    background-color: #FFFFFF;
    float: left;
    height: 36px;
    overflow: hidden;
    padding: 2px 2px 2px 20px;
    text-align: left;
    vertical-align: middle;
    width:160px;
    line-height: 36px;
}


@media (max-width:400px) {
    .fileform .selectbutton {
        width:30%;
    }

    .fileform #fileformlabel {
        width:50%;
    }
}


#enter {
  .form-application {
    margin-bottom: 60px;
    .wrapper h2,.wrapper .h2 {
      margin-bottom: 20px;
    }
    .wrapper .submitBlock span {
      margin: 20px;
      display: block;
      text-align: center;
    }
    .wrapper .submitBlock a.button-orange {
      margin-top: 20px;
      display: inline-block;
      text-align: center;
      line-height: 70px;
      font-size: 20px;
      display: block;
      margin: 0 auto;
      font-weight: bold;
    }
    .wrapper .content {
      padding-bottom: 170px;
    }
  }
}


#reg {
  .form-application {
    margin-bottom: 60px;
    .wrapper h2,.wrapper .h2 {
      margin-bottom: 20px;
    }
  }
}

.b-btn.b-btn_form {
  padding: 0 20px;
  margin-top: 15px;
  height: 40px;
  line-height: 40px;
  border:0;
  color:#fff;
  background: #FF8300;
  border-radius: 5px;
  &:hover {
      background: #e26000;
  }
}
